@using AutoHub.Infrastructure.DTOs
@model IEnumerable<AutoHub.Infrastructure.DTOs.ModelDto>

<style>

    .btn {
        display: inline-block;
        padding: 5px 15px;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        min-width: 100px; 
    }
    .custom-red {
        background-color: #c90404;
        color: white;
        border: none;
    }

    .custom-black {
        background-color: #000000;
        color: white;
        border: none;
    }
</style>

<h2 class="text-center">All Models</h2>

<div class="container">
    <div class="row">
        @foreach (ModelDto models in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <img src="@models.ImageUrl" alt="@models.Name" class="card-img-top" style="max-height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@models.Name</h5>
                        <a asp-action="Details" asp-route-id="@models.Id" class="btn btn-primary">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@models.Id" class="btn custom-red">Delete</a>
                            <a asp-action="Edit" asp-route-id="@models.Id" class="btn custom-black">Edit</a>
                        }
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@if (User.IsInRole("Admin"))
{
   <a asp-action="Create" class="btn btn-primary">Add New Model</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
