@using AutoHub.Data.Models
@model Gearbox

<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card border-0">
                <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" style="max-width: 100%; height: min-content;">
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="card p-5">
                <h2 class="text-center">@Model.Name</h2>

                <p><strong>Manufacturer:</strong> @Model.Manufacturer</p>
                <p><strong>Name:</strong> @Model.Name</p>
                <p><strong>Application:</strong> @Model.Model.Name</p>
                <p><strong>Transmission type:</strong> @Model.TransmissionType</p>
                <p><strong>Speeds:</strong> @Model.Speeds</p>
                <p><strong>Years Produced:</strong> @Model.YearsProduced</p>
                <p><strong>Description:</strong> @Model.Descritpion</p>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index" class="btn btn-primary">Back to All Gearboxes</a>