@using AutoHub.Web.ViewModels.Models
@model IEnumerable<AutoHub.Web.ViewModels.Models.ProductIndexViewModel>


<style>
    .custom-green {
        background-color: #0ec41a;
        color: white;
        border: none;
    }

    .custom-red {
        background-color: #c90404;
        color: white;
        border: none;
    }

    .custom-black {
        background-color: #000000;
        color: white;
        border: none;
    }
</style>

<h2 class="text-center">All Products</h2>

<div class="container">
    <div class="row">
        @foreach (ProductIndexViewModel models in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card text-center h-100 d-flex flex-column">
                    <div class="image-container" style="height: 140px; overflow: hidden;">
                        <img src="@models.ImageUrl" alt="@models.ProductName" class="card-img-top" style="height: 100%; width: 100%; object-fit: cover;" />
                    </div>

                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@models.ProductName</h5>

                        <p><strong>@models.Price BGN</strong></p>
                        <div class="mt-auto">
                            @if (!models.HasBought && !models.IsSeller)
                            {
                                <form asp-controller="Product" asp-action="Buy" asp-route-id="@models.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn custom-green">Buy</button>
                                </form>
                                <a href="@Url.Action("Details", "Product", new { id = models.Id })" class="btn btn-primary">Details</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Edit", "Product", new { id = models.Id })" class="btn custom-black">Edit</a>
                                <a href="@Url.Action("Details", "Product", new { id = models.Id })" class="btn btn-primary">Details</a>
                                <a href="@Url.Action("Delete", "Product", new { id = models.Id })" class="btn custom-red">Delete</a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
