@using AutoHub.Infrastructure.DTOs
@model IEnumerable<AutoHub.Infrastructure.DTOs.BrandDto>


<p class="h3">All Brands</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>FoundedBy</th>
            <th>FoundedDate</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BrandDto brand in Model)
        {

            <tr>
                <td>@brand.Name</td>
                <td>@brand.FoundedBy</td>
                <td>@brand.FoundedDate.ToString("MMMM/dd/yyyy")</td>
                <td class="truncate">@brand.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@brand.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Create" class="btn btn-primary">Add New Brand</a>
}


