@using AutoHub.Infrastructure.Models
@using AutoHub.Infrastructure.DTOs
@model SearchPagination



<style>

    .btn {
        display: inline-block;
        padding: 5px 15px;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        min-width: 100px; 
    }
    .custom-red {
        background-color: #c90404;
        color: white;
        border: none;
    }

    .custom-black {
        background-color: #000000;
        color: white;
        border: none;
    }
</style>

<p class="h3">All Brands</p>

<form method="get">
    <div class="mb-3">
        <input type="text" name="SearchQuery" value="@Model.SearchQuery" class="form-control" placeholder="Search by brand name..."/>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>FoundedBy</th>
            <th>FoundedDate</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BrandDto brand in Model.Brands)
        {

            <tr>
                <td>@brand.Name</td>
                <td>@brand.FoundedBy</td>
                <td>@brand.FoundedDate.ToString("MMMM/dd/yyyy")</td>
                <td class="truncate">@brand.Description</td>
                <td>
                 <a asp-action="Details" asp-route-id="@brand.Id" class="btn btn-primary">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                       <a asp-action="Delete" asp-route-id="@brand.Id" class="btn custom-red">Delete</a>
                       <a asp-action="Edit" asp-route-id="@brand.Id" class="btn custom-black">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@if(Model.TotalPages > 0 || User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-between align-items-center mt-4">

        <div>
            <a asp-action="Index"
               asp-route-SearchQuery="@Model.SearchQuery"
               asp-route-CurrentPage="@(Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1)"
               class="btn btn-secondary @(Model.CurrentPage == 1 ? "disabled" : "")">
               Previous
           </a>

           <a asp-action="Index"
              asp-route-SearchQuery="@Model.SearchQuery"
              asp-route-CurrentPage="@(Model.CurrentPage < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages)"
              class="btn btn-secondary @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
              Next
          </a>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Add New Brand</a>
        }

    </div>
}





